.slideItem {
    .title{
        font-family: var(--font-audrey);
        line-height: 1.25;
        @apply uppercase mb-4 text-white text-6xl leading-tight
    }

    .sub-title {
        letter-spacing: 0px;
        line-height: 28px;
        padding-right: 145px;
        margin-bottom: 40px;
        font-size: 17px;
        font-weight: 400;
        color: white;
    }

    .content-box {
        width: 60%;
    }
    
    .contact-info {
        width: 611px;
        height: 179px;
        background: var(--background);
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 46px 40px 46px 92px;
        display: flex;

        .icon {
            width: 100px;
            height: 100px;
            min-width: 100px;
            border: 1px solid var(--foreground);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 40px;
                height: 40px;
                fill: var(--foreground);
            }
        }

        .left {
            font-family: var(--font-audrey);
            h6 {
                font-size: 15px;
                text-transform: uppercase;
                letter-spacing: 0.7px;
                color: #e6c9a2;
                margin-top: 4px;
                margin-bottom: 10px;
            }
            
            h4 {
                font-size: 40px;
                letter-spacing: 1px;
                color: #fff;
            }
        }
    }
}

