@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: #0e1927;
      --foreground: #e6c9a2;   
      --swiper-navigation-size: 44px;
      --swiper-theme-color: #007aff;
    }
   
    .dark {
      --background: #0e1927;
      --foreground: #e6c9a2;   
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, ::before, ::after {
	box-sizing: border-box;
}

body {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.2px;
    font-weight: 400;
    color: #666666
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-calibri);
    font-weight: 500;
    color: #000;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;    
}

a:hover {
    transition: all 0.3s;
}

h3, .h3 {
    font-family: var(--font-audrey);
    font-size: 40px;
}

h4, .h4 {
	font-family: var(--font-audrey);
	font-size: 28px;
	line-height: 1.4;
}

h5, .h5 {
    font-family: var(--font-audrey);
    font-size: 17px;
    line-height: 1.4;
}

h6, .h6 {
	font-family: var(--font-audrey);
	font-size: 16px;
	line-height: 1.72;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	border: none;
	font-family: var(--font-calibri);
	outline: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: 15px;
	line-height: 21px;
	border-radius: 0;
	width: 100%;
	background: transparent;
	color: #fff;
	padding: 14px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

input::placeholder {
    color: #fff;
}

.form-control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.header {
	position: relative;
	width: 100%;
	z-index: 1000;
	height: 100px;
	background-color: #0e1927;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#header_main.is-fixed {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 9999;
	opacity: 0;
	position: fixed;
	top: -100px;
	left: 0;
	width: 100%;
	background: #0e1927;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 1px 0px #ECECEC;
}

#header_main.is-fixed.is-fixed.is-small {
	top: -1px;
	opacity: 1;
	visibility: visible;
}

.block-text .subtitle {
	font-size: 15px;
	text-transform: uppercase;
	color: #0e1927;
	letter-spacing: 2.7px;
	position: relative;
	display: inline-block;
	line-height: 1;
	margin-bottom: 18px;
}

.block-text .title {
	margin-left: -3px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1.4;
	margin-bottom: 21px;
}

.social-footer li a {
    width: 45px;
    height: 45px;
    min-width: 45px;
    border-radius: 50%;
    border: 1px solid var(--foreground);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.social-footer li a:hover {
    background: var(--foreground);
    color: var(--background);
}

.footer .widget h5 {
    color: #fff;
    font-family: var(--font-audrey);
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 50px;
}

.footer .widget h5::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -14px;
    width: 73px;
    height: 2px;
    background: var(--foreground);
}

.footer .widget.location ul li span {
    color: var(--foreground);
    position: relative;
}

.footer .widget li {
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 0.7px;
}

.footer .widget.location ul li p {
    margin-top: 7px;
    margin-bottom: 0;
    line-height: 28px;
}

.footer .widget.location ul li:last-child p:last-child {
    font-size: 20px;
    line-height: 28px;
    color: #e6c9a2;
}

.footer .widget.location ul li span::before {
    position: absolute;
    content: "";
    background-color: #e6c9a2;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: -16px;
    top: 8px;
}

.footer .location {
    padding: 0;
}

.footer .widget form input {
	border: 1px solid #e6c9a2;
	border-radius: 0;
	background: transparent;
	box-shadow: none;
	color: #fff;
    margin-top: 0;
}

.footer .widget form .form-check {
	display: flex;
	align-items: center;
	margin-bottom: 0;
}

.footer .widget form {
    position: relative;
}

.footer .widget form button {
	position: absolute;
	right: 10px;
	top: 8px;
	background: transparent;
	border: none;
}

.form-check-input {
	width: 1em;
	height: 1em;
	margin-top: 0.25em;
	vertical-align: top;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 1px solid rgba(0, 0, 0, 0.25);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
}


.btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	color: #fff;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@keyframes pulse-anim2 {
    0% {
        box-shadow: rgba(255, 255, 255, 0.4) 0 0 0 0;
    }

    100% {
        box-shadow: rgba(255, 255, 255, 0.1) 0 0 0 20px;
    }
}
