@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
      --background: #0e1927;
      --foreground: #e6c9a2;   
    }
   
    .dark {
      --background: #0e1927;
      --foreground: #e6c9a2;   
    }
}

a:hover {
    transition: all 0.3s;
}

.social-footer li a {
    width: 45px;
    height: 45px;
    min-width: 45px;
    border-radius: 50%;
    border: 1px solid var(--foreground);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.social-footer li a:hover {
    background: var(--foreground);
    color: var(--background);
}

.footer .widget h5 {
    color: #fff;
    font-family: var(--font-audrey);
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 50px;
}

.footer .widget h5::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -14px;
    width: 73px;
    height: 2px;
    background: var(--foreground);
}

.footer .widget.location ul li span {
    color: var(--foreground);
    position: relative;
}

.footer .widget li {
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 0.7px;
}

.footer .widget.location ul li p {
    margin-top: 7px;
    margin-bottom: 0;
    line-height: 28px;
}

.footer .widget.location ul li:last-child p:last-child {
    font-size: 20px;
    line-height: 28px;
    color: #e6c9a2;
}

.footer .widget.location ul li span::before {
    position: absolute;
    content: "";
    background-color: #e6c9a2;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: -16px;
    top: 8px;
}