.location {
	padding: 150px 0 134px;

    .image {
        width: 455px;
        height: 455px;
        min-width: 431px;
        border-radius: 50%;
        border: 1px solid #e6c9a2;
        overflow: hidden;
        padding: 12px;
        margin-top: 27px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .content {
        padding-left: 4px;

        h6 {
            text-transform: uppercase;
            margin-bottom: 11px;
        }
        
        p {
            margin-bottom: 0;
        }
    }
}